---
layout: layouts/base.njk
section: character-sheets
---
<div class="flex w-full justify-center">
  <div class="mt-4 px-6 md:px-6 lg:px-8 xl:px-12 w-full max-w-5xl">
    <div class="wrapper flex justify-between">
      {% if site.enableTOC and toc %} 
        <div class="main flex flex-col pr-0 xl:pr-64 prose sm:prose lg:prose-lg xl:prose-md">
      {% else %}
        <div class="main  flex flex-col pr-0 prose sm:prose lg:prose-lg xl:prose-md">
      {% endif %}    
      <article class="dark:text-gray-500">
        <h1>{{ title }}</h1>
        <header class="flex items-center">
          <h2 class="flex-grow m-0 w-1/2 border p-2 rounded-lg">{{ name }}</h2>
          <div class="flex flex-grow flex-col w-1/2 border p-2 rounded-lg">
            <div class="flex justify-between">
              <div>{{ species }} {{ slevel }}</div>
              <div>Soul Touched {{ clevel }}</div>
            </div>
            <div class="flex justify-between">
              <div>{{ xp }}</div>
              <div>{{ renown.overall }}</div>
              <div>{{ player }}</div>
            </div>
          </div>
        </header>
        {{ layoutContent | safe }}
      </article>
      </div>  
    </div>
  </div>
</div>        