---
layout: layouts/base.njk
section: character-sheets
---
<div class="flex w-full justify-center">
  <div class="mt-4 px-6 md:px-6 lg:px-8 xl:px-12 w-full max-w-5xl">
    <div class="wrapper flex justify-between">
      {% if site.enableTOC and toc %} 
        <div class="main flex flex-col pr-0 xl:pr-64 prose sm:prose lg:prose-lg xl:prose-md">
      {% else %}
        <div class="main  flex flex-col pr-0 prose sm:prose lg:prose-lg xl:prose-md">
      {% endif %}    
      <article>
        <h1 class="dark:text-gray-500">{{ title }}</h1>
        <h2>{{ name }}</h2>
        {{ layoutContent | safe }}
      </article>
      </div>  
    </div>
  </div>
</div>  